.avatar{
  background-color: rgb(235, 92, 40) !important;
}
a:hover{
  text-decoration: none;
}
#mobile-menu-icon{
  visibility: hidden;
  cursor: pointer;
}
.card{
  padding:10px;
  margin: 10px 0;
  border:1px solid lightgray;
  color:rgb(80, 80, 80);
}
.col-md-3{
  padding:0;
  background-color: #4a5dca;
}
.col-md-9{
  height:90vh;
  overflow: auto;
  background-color: #ecf2ff;
}
img{
  height:150px;
  width: 150px;
  border-radius: 50%;
  margin:200px auto;
  display: block;
}
input,textarea{
  display: block;
  width:100%;
}
.MuiDataGrid-iconSeparator,
.MuiDataGrid-sortIcon{
  opacity: 1 !important;
}